/* ------------------- Propiedades Personalizadas ------------------- */
:root {
    --color-1: rgb(102, 252, 241);
}

.color-1 {
    color: var(--color-1) !important;
}

.bg-color-1 {
    background-color: var(--color-1) !important;
}
/* ------------------- Nav ------------------- */
nav > div > a {
    font-size: 2rem !important;
    font-weight: bold;
}

/* ------------------- Inicio ------------------- */
ul {
    list-style: none;
}

#inicio .card-body {
    color: #FFF; 
    background-color: rgba(0, 0, 0, 0.7)
}

#inicio .card-body h1{
    font-size: 4.5rem;
}

/* ------------------- Qué es SEO ------------------- */
#que-es-seo {
    color:#fff;
    background-color: #202020;
    height: 80vh;
    display: flex;
    align-items: center;
}

/* ------------------- Servicios ------------------- */
#servicios {
    background-color: black;
}

/* ------------------- Contacto ------------------- */
#contacto {
    background-image: url(../images/fondo-contacto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#contacto > div > div {
    max-width: 600px;
}

/* ------------------- Footer ------------------- */
footer {
    background-color: black;
}

footer a {
    color: #fff;
}

footer a:hover {
    color: var(--color-1);
}